@model Exam.Web.Models.CommentsViewModel

<div class="row-fluid" id="comments">  
        <div class="span8">
            <strong>@Model.Author: </strong>
            <span>
                @Model.Content
            </span>
        </div>    
</div>